@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size:100px; color:white; margin:10px;">Matched: A Superior IMBD</h1>

    <p style="font-size:30px; color: white;"><em>See the best of the entertainment industry in one spot.</em></p>
   
</div>
